@font-face {
    font-family: hehefont;
    src: url('/public/lol.ttf');
}


.main-heading{
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    
    font-size:80px;
   
    color: blue;
    width:100%;
    text-transform:uppercase;
    text-align:center;
    font-family:'hehefont' ;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#000);
   
    outline:none;
    animation: animatedvro 5s linear infinite;
    

}

@keyframes animatedvro
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color:rgb(240, 0, 0);
        text-shadow:none;
    }
   18.1%,20.1%,30%,50%,60.1%,65%,80.1%,92.1%,100%
    {
        color:#fff;
        text-shadow: 0 0 10px rgb(243, 0, 0),
        0 0 20px rgb(255, 8, 8),
        0 0 40px rgb(255, 12, 12),
        0 0 80px rgb(255, 0, 0),
        0 0 0px rgb(255, 0, 0);


    }
}

.slider{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.sliderc {
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 15px;
    margin-left:10%;
    
}

.rob-text{
    align-items: center;
    justify-content: center;
   padding: 20px;
}